<launch>

	<!-- robot_ip: IP-address of the robot's socket-messaging server -->
	<arg name="robot_ip" />

	<!-- copy the specified parameters to the Parameter Server, for 
	     use by nodes below -->
	<param name="robot_ip_address" type="str" value="$(arg robot_ip)" />

	<!-- robot_state: publishes joint positions and robot-state data
	     (from python-sdk to communicate with robot)
	-->
	<include file="$(find lebai_driver)/launch/robot_state.launch">
		<arg name="robot_ip"   value="$(arg robot_ip)" />
	</include>

	<!-- motion service: sends robot motion commands by 
	     send different paths to robot (using python-sdk to communicate with robot) 
	-->
	<include file="$(find lebai_driver)/launch/motion_service.launch">
		<arg name="robot_ip"   value="$(arg robot_ip)" />
		<!-- <arg name="use_pt_full"   value="$(arg use_pt_full)" /> -->
	</include>

	
	<!-- io_service: set digital output
		(from python-sdk to communicate with robot) 
	-->
	<include file="$(find lebai_driver)/launch/io_service.launch">
		<arg name="robot_ip"   value="$(arg robot_ip)" />
	</include>	

	<!-- system_service: send application command
		(from python-sdk lebai to communicate with robot) 
	-->
	<include file="$(find lebai_driver)/launch/system_service.launch">
		<arg name="robot_ip"   value="$(arg robot_ip)" />
	</include>
</launch>