<?xml version="1.0"?>
<!-- 
  Wrapper launch file for the lebai robot_state node.
-->
<launch>
  <!-- IP of robot (or PC running simulation) -->
  <arg name="robot_ip" doc="IP of controller" />
  <param name="robot_ip_address" type="str" value="$(arg robot_ip)" />
  <node name="system_service" pkg="lebai_driver" type="system_service_node.py"  output="screen">
    <!-- <remap from="/emergency_stop" to="/system_service/emergency_stop"/> -->
  </node>
</launch>