<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="lebai_lm3">  
  	<link name="world"/>  
	<xacro:include filename="$(find lebai_lm3_support)/urdf/lm3_macro.xacro"/>
  	<xacro:lebai_lm3 prefix=""/>
  	<joint name="fixed" type="fixed">
    	<parent link="world"/>
    	<child link="base_link"/>
  	</joint>
</robot>
