<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="lebai_lm3">
  <xacro:include filename="$(find lebai_lm3_support)/urdf/lm3_macro.xacro"/>

  <xacro:lebai_lm3 prefix="a_"/>
  
  <xacro:lebai_lm3 prefix="b_"/>

    <link name="world">
    </link>

    <joint name="world_to_a" type="fixed">
        <parent link="world"/>
        <child link="a_base_link"/>
        <origin xyz="0.0 1.0 0.0" />
    </joint>
  
      <joint name="world_to_b" type="fixed">
        <parent link="world"/>
        <child link="b_base_link"/>
        <origin xyz="0.0 -1.0 0.0" />
    </joint>

</robot>
