<?xml version="1.0"?>
<!-- 
  Wrapper launch file for lebai motion system node.
-->
<launch>
  <!-- IP of robot (or PC running simulation) -->
  <arg name="robot_ip" doc="IP of controller" />

  <!-- put them on the parameter server -->
  <param name="robot_ip_address" type="str" value="$(arg robot_ip)" />
  <node name="motion_service" pkg="lebai_driver" type="motion_service" >
    <param name="robot_ip_address" type="str" value="$(arg robot_ip)" />
    <remap from="move_joint" to="/motion_service/move_joint"/>
    <remap from="move_line" to="/motion_service/move_line"/>
    <remap from="move_circle" to="/motion_service/move_circle"/>
  </node>
   <node pkg="industrial_robot_client" type="joint_trajectory_action" 
	name="joint_trajectory_action" />
</launch>