<launch>
  <param name="robot_description" command="$(find xacro)/xacro '$(find lebai_lm3_support)/urdf/lm3.xacro'" />
  <rosparam command="load" file="$(find lebai_lm3_support)/config/joint_names_lm3.yaml" />
  <include file="$(find lebai_driver)/launch/robot_interface.launch" >
    <arg name="robot_ip" value="192.168.3.209" />
  </include>

  <test pkg="lebai_driver" test-name="test_lebai_driver" type="test_lebai_driver.py" >
  </test>

</launch>
